{% extends "base.html" %}
{% load thumbnail %}
{% block title %}
    <title>Профайл пользователя {{ author.get_full_name }}</title>
{% endblock %}    
{% block content %}  
      <div class="container py-5">       
        <div class="mb-5"> 
        <h1>Все посты пользователя {{ author.get_full_name }} </h1>
        <h3>Всего постов: {{ posts_count }} </h3>
        {% if user.is_authenticated %}
        {% if request.user != author%}
        {% if following %}
          <a
            class="btn btn-lg btn-light"
            href="{% url 'posts:profile_unfollow' author.username %}" role="button"
          >
            Отписаться
          </a>
         {% else %}
          <a
            class="btn btn-lg btn-primary"
            href="{% url 'posts:profile_follow' author.username %}" role="button"
           >
             Подписаться
          </a>
        {% endif %}
        {% endif %}
        {% endif %}
        </div>
        {% for post in page_obj %}
          <article>
            <ul>
              <li>
                Дата публикации: {{ post.pub_date|date:"d E Y" }}
              </li>
            </ul>
              {% thumbnail post.image "760x439" crop="center" upscale=True as im %}
                <img src="{{ im.url }}">
              {% endthumbnail %}
              <p>{{ post.text|truncatewords:60 }}</p>                                  
              <a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a>               
          </article>    
          {% if post.group %}   
            <a href="{% url 'posts:group_posts' post.group.slug %}">все записи группы</a>
          {% endif %}         
          {% if not forloop.last %}<hr>{% endif %}          
        {% endfor %}           
{% include 'posts/includes/paginator.html' %}      
{% endblock %}     